@import 'setup';

$roboto: 'Roboto Mono';

$light: #e5eec1;
$medium: #9EBA99;
$blue: #3eaca8;
$grey: #27343A;
$darkgrey: #333;

html{
	font-size: 62.5%;
}

body{
	background: $grey;
	font-family: $roboto;
}

//links links links links links links links links links links links links

a{
	color: $light;
	text-decoration: none;
	transition: color .6s;
	&:hover, &:focus{
		color: $blue;
	}
}

//hover.css hover.css hover.css hover.css hover.css hover.css hover.css

.hvr-underline-from-left:before{
	background: $blue;
	height: 2px;
}

.ralien, .title, input, label{
	cursor: pointer;
}

//typography typography typography typography typography typography

h1{
	font-family: $roboto;
	font-weight: 100;
	font-size: 6.4rem;
	color: $light;
	line-height: 8.4rem;
	margin: 0 0 0 -1rem;
}

h2{
	font-family: $roboto;
	font-weight: 300;
	font-style: italic;
	font-size: 1.4rem;
	color: $light;
	letter-spacing: 0.58px;
	line-height: 21px;
	margin: 0;
}

//general styles general styles general styles general styles general styles

.wrapper{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 2rem;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

.ralien{
	img{
		height: 80px;
	}
}

section{
	padding-top: 1rem;
}

//inputs inputs inputs inputs inputs inputs inputs inputs inputs inputs

input{
	background: $medium;
	border: none;
}

input[type=number]{
	width: 4rem;
}

input[type=number], button{
	color: black;
	padding: .5rem;
	border-radius: .2rem;
	font-size: 1.6rem;
}

label{
	color: $light;
	margin-left: .5rem;
	font-size: 1.6rem;
	font-weight: 400;
	transition: color .5s;
	letter-spacing: .1rem;
	&:hover, &:focus{
		color: $blue;
	}
}

input[type=number], label{
	margin-right: 1.5rem;	
}

input[type=checkbox] + label{
	border: solid 1px rgba(0,0,0,0);
	padding: .1rem .3rem;
}

input[type=checkbox]:checked + label{
	color: red;
	border-color: red;
}

input[type=radio]:checked + label{
	color: $blue;
	border-color: $blue;
}

button{
	padding: .5rem 0;
	border: 0;
	font-size: 2.6rem;
	font-weight: 300;
	background: none;
	color: $light;
	transition: color .6s;
	&:hover, &:focus{
		color: $blue;
	}
}

//header header header header header header header header header header

header{
	padding-top: 2rem;
	margin-bottom: 10rem;
	.wrapper{
		justify-content: space-between;
		align-items: center;
	}
}

//section.select section.select section.select section.select

section.select{
	.options form{
		align-items: center;
		.button{
			width: 100%;
			margin: 1rem 0;
		}
	}
}

//section.results section.results section.results section.results

section.results{
	color: $blue;
	font-size: 1.6rem;
	margin-top: 6rem;
	font-weight: 400;
}

//footer footer footer footer footer footer footer footer footer footer

footer{
	font-size: 1.6rem;
	background: $darkgrey;
	text-align: center;
	padding: .1rem 0;
	position: fixed;
	z-index: 9999;
	bottom: 0;
	width: 100%;
	p{
		color: $light;
	}
}